<div class="row">
  <div class="col-md-6">
      Deja un comentario
  </div>
  <div class="col-md-6">
      <%= @article.omments.count %> comentarios
  </div>
  <div class="text-center col-md-12">
    <%= render "omments/form"%>
  </div>
  <div class="">
    <%= render @article.omments%>
  </div>
</div>
