<div class="post-container " class"transitions-enabled" style="width:80%; margin: 0 auto;">

    <h1>Articulos</h1>
    <div class="row">
      <%=render @articles%>
    </div>
    <%= will_paginate @articles%>

</div>
