<div  class="post-container "  style="width:80%; margin: 0 auto;">
<div class="row">


<% current_user.articles.each do |article|%>
<div id="box-per-article"class="col-md-4 top_spacing ">
    <div class="box relative article-height">
      <div class="absolute article-height background-cover">
      </div>
      <div class="relative white text-center">
        <h2 class"white"><%= link_to article.title, article%></h2>
        <p>
          <%=truncate(article.body,lenght:10)%>
        </p>
      </div>

    </div>
</div>
<%end%>
</div>
</div>
